.containerNews {
  width: 100%;
  display: flex;
  padding-bottom: 10%;
  flex-wrap: wrap;
  justify-content: center;

}

.containerNewsAndButtonFavorite {
  display: flex;
  justify-content: space-between;
}

.newsImage {
  width: 754px;
  height: 485px;
  margin-right: 35px;
  border-radius: 2px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.textCurrentNews {
  width: 155px;
  height: 18px;
  color: #C31815;
  font-family: Poppins;
  font-weight: 600;
  line-height: 29.4px;
}

.containerLatestNewsInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleNews {
  width: 540px;
  height: 94px;
  font-family: IBM Plex Serif;
  font-weight: 600;
  font-size: 32px;
}

.newsIntroduction {
  width: 500px;
  height: 94px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  
}

.newsTime {
  font-family: Poppins;
  font-weight: 400; 
  font-size: 18px;
}

.containerTimeAndButton {
  display: flex;
  justify-content: space-between;
}

.newsButton {
  border-radius: 5px;
  padding: 10px;
  background-color: #05D465;
  border: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
}
.newsLink {
  align-self: center;
}