.containerHeader {
  display: flex;
  width: 100%;
  background-color: #0E0E0ED9;
}

.iconHeaderTrybe{
  width: 200px;
  height: 161px;
}

.titleHeaderTrybe {
  text-align: center;
  margin: auto;
  color: #FFFFFF;
  font-size: 86px;
}

@media screen and ( max-width : 850px ) {
  .iconHeaderTrybe{
    width: 90px;
    height: 75px;
  }
  
  .titleHeaderTrybe {
    font-size: 25px;
  }
}
