.containerList {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  background-color: white;
  margin: 10px;
  padding: 10px 25px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.moreNewsButtonContainer {
  display: flex;
  justify-content: center;
  width: 220px;
  height: 60px;
  border: 1px #c31815 solid;
  margin: auto;
}

.moreNewsButton {
  color: #c31815;
  border: 0;
  font-size: 20px;
}

@media screen and ( max-width : 850px ) {
  .itemsList {
    padding-inline-start: 0px;
  }

  .list{
    margin: 0;
    width: 300px;
  }
  
  .containerList {
    justify-content: start;
  }

  .moreNewsButtonContainer {
      width: 150px;
      height: 35px;
  } 

  .moreNewsButton {
    font-size: 15px;
  }
}