.containerLatestNewsInfos {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleNews {
  width: 540px;
  height: 80px;
  font-family: IBM Plex Serif;
  font-weight: 600;
  font-size: 32px;
}

.newsIntroduction {
  width: 500px;
  height: 100px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.containerTimeAndButton {
  display: flex;
  justify-content: space-between;
}

.newsTime {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
}

.newsButton {
  border-radius: 5px;
  padding: 10px;
  background-color: #05D465;
  border: 0;
  box-shadow: 0px 4px 4px 0px #00000040;
}

hr {
  border-color : #FCFCFC;
  box-sizing: border-box;
  width: 100%;
}

.newsButtonFavorite {
  margin-left: 519px;
}

.newsLink {
  align-self: center;
}

@media screen and ( max-width : 850px ) {
  .containerLatestNewsInfos, .titleNews, .newsIntroduction {
    width: 295px;
  }
  .titleNews {
    font-size: 22px;
  }
  
  .newsIntroduction {
    font-size: 15px;
  }
  
  .newsTime {
    font-size: 15px;
  }
  
  .newsButton {
    padding: 8px;
    font-size: 12px;
  }
  
  .newsButtonFavorite {
    margin-left: 270px;
  }
}