.navBarContainer {
  display: flex;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.navLink a {
  color: #2A2A2A;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 25px;
}

.navLink a:active {
  border-bottom: solid 1px red;
}

.imgVetor img {
  padding: 1px;
}

@media screen and ( max-width : 850px ) {  
  .navLink a {
    font-size: 13px;
    margin: 10px;
  }
  
  .imgVetor {
    display: flex;
  }

  .imgVetor img:nth-child(1) {
    width: 16px;
  }
  .imgVetor img:nth-child(2) {
    width: 16px;
  }
}